@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400;600&display=swap");
$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$background-color-primary: #ccebff;
$background-color-digits: #57a7ba;
$gray: #4d4d4d;
$bg-camera: #444;
$bg-camera-outer-circle: #222;
$bg-phone-bottom: #ececec;
$darkgray: #212121;
$black: black;
$blackish: #383838;
$red: #ff5959;
$green: #91cf6f;

/* mixins */
@mixin box-sizing($box-sizing: border-box) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

@mixin center-vertically($position: absolute) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin text-size-adjust {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* resets and base styles */
* {
    @include box-sizing;
    @include text-size-adjust;

    &:focus {
        outline: none;
    }
}

html {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

@viewport {
    width: device-width;
    zoom: 1;
}

.row {
    position: relative;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    width: 100%;
    float: left;
}

.top-bar {
    grid-column: 1 / 4;
    grid-row: 1;
}

.notification {
    grid-column: 1 / 4;
    grid-row: 2;
}

.callMeMaybe {
    grid-column: 1 / 4;
    grid-row: 2;
}

.screen {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}

.button_left {
    grid-column: 1 / 2;
    grid-row: 4;
}

.button_right {
    grid-column: 3 / 4;
    grid-row: 4;
}

.digits {
    grid-column: 1 / 4;
    grid-row: 6;
}

.phone-bottom-circle {
    grid-column: 1 / 4;
    grid-row: 7;
}

.phone {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, [col] auto);
    grid-template-rows: repeat(7, [row] auto);
    grid-gap: 0;
    max-height: 812px;
    max-width: 427px;
    background-color: $gray;
    border: 0.4em solid $blackish;
    border-radius: 1.8em;
    grid-auto-flow: dense;
    -webkit-border-radius: 1.3em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    box-shadow: -5px 10px 10px 3px rgba(0, 0, 0, 0.4);
    font-size: 1.2em;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    background-color: $gray;
    justify-content: space-around;
    width: 100%;
    padding-top: 0.35em;
    padding-bottom: 0.35em;

    .camera {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.05em;
        height: 1.05em;
        background-color: $bg-camera;
        border-radius: 50%;
        box-shadow: inset 0 0 1px 2px $black;

        & .outer-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0.625em;
            height: 0.625em;
            background-color: $bg-camera-outer-circle;
            border-radius: 50%;

            & .smaller-circle {
                width: 0.3125em;
                height: 0.312em;
                background-color: $black;
                border-radius: 50%;
            }
        }
    }

    .speaker {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5em;
        height: 0.3em;
        background: #e0e0e0;
        border-radius: 0.2em;
        box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.14) inset, 0 0.1em 0.5em 0px rgba(0, 0, 0, 0.12) inset,
            0 0.3em 0.1em -0.2em rgba(0, 0, 0, 0.2) inset;
        // position: absolute;
        top: 0.8em;
    }

    .help_button {
        height: 1.7em;
        display: flex;
        float: right;
        border-radius: 0.2em;
        margin-right: -1.7em;
    }
}

/** Notification bar */
.notification {
    display: inline-block;
    font-size: 0.8em;
    padding-top: 0.5em;
    color: white;
    text-align: right;
    padding-right: 1.2em;
}

.notification ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.notification ul li {
    margin: 0 0;
    display: inline;
}

#time {
    font-family: $primary-font;
    font-style: normal;
}

.callMeMaybe {
    display: inline-block;
    padding-top: 0.5em;
    font-size: 0.9em;
    color: #fff;
    text-align: left;
    padding-left: 1.6em;
}

.screen {
    display: inline-block;
    min-height: 200px;
    box-sizing: border-box;
    color: $darkgray;
    background-image: linear-gradient(
        180deg,
        rgb(221, 255, 255) 25%,
        rgba(234, 250, 250, 0.986) 65%,
        rgba(255, 255, 255, 1) 100%
    );
    padding: 2em 0.5em 0.3em 0.5em;
    margin: 0.5em 0 0 0;

    input[type="text"] {
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        max-width: 100%;
        font-size: 1.2em;
        padding-left: 0.8em;
        padding-bottom: 0.3em;
        background-color: transparent;
        color: $darkgray;
        border: none;
    }

    .message,
    .numberbox {
        max-width: 100%;
        box-sizing: border-box;
        font-size: 1.1em;
        padding-left: 1.6em;
        padding-top: 0.2em;
        margin: 0;
        list-style: none;
    }
}

.bubble {
    position: relative;
    padding: 0.2em;
    border: 0.2em solid $green;
    color: $darkgray;
    background: #fff;
    font-size: 0.9em;
    font-family: $primary-font;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: -2em;
    margin-bottom: 2.4em;
    z-index: 10;
}

/* THE TRIANGLE */
.bubble:before {
    content: "";
    position: absolute;
    bottom: -20px;
    /* value = - border-top-width - border-bottom-width */
    left: 40px;
    /* controls horizontal position */
    border-width: 18px 15px 0;
    border-style: solid;
    border-color: $green transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

/* creates the smaller  triangle */
.bubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    /* value = - border-top-width - border-bottom-width */
    left: 47px;
    /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

.button_left {
    display: inline-block;
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    background-color: $green;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0.3em 1.7em;
    width: 5.7em;
    height: 2em;

    &:hover {
        background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
        background-color: #a5cc52;
    }

    &:active {
        position: relative;
    }
}

.button_right {
    display: inline-block;
    box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color: $red;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    width: 5.7em;
    height: 2em;
    margin: 0 1.7em 0.3em 0;

    &:hover {
        background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
        background-color: #e4685d;
    }

    &:active {
        position: relative;
    }
}

.digits {
    display: block;
    background-image: linear-gradient(
        180deg,
        rgba(0, 143, 145, 1) 50%,
        rgba(0, 117, 119, 1) 60%,
        rgba(0, 91, 94, 1) 70%,
        rgba(0, 67, 71, 1) 80%,
        rgba(0, 44, 48, 1) 90%,
        rgba(0, 15, 28, 1) 100%
    );

    margin: 0;
}

.digits--display {
    display: grid;
    list-style: none;
    margin: 0.5em 0.8em 0.5em;
    padding: 0;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.button {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #eeeeee;
    background: linear-gradient(to right, #fbfbfb, #e1e1e1);
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d4d4d4;
    font-family: $primary-font;
    font-weight: 600;
    color: $gray;
    text-shadow: 0 1px 1px white;
    margin: 0.2em 0;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc);
}

.button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    border: 2px solid #59ffff;
    color: #bbbbbb;
}

input.button,
button.button {
    height: 1.85em;
    cursor: pointer;
}

.button-block {
    display: block;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    background: #eee;
    border: 1px solid #02dce8;
    text-shadow: 0 1px 1px white;
    color: #ccc;
    cursor: default;
}

.button-wrap {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
    background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
    background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
    background: linear-gradient(top, #e3e3e3, #f2f2f2);
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
    padding: 10px;
    display: inline-block;
}

.button-circle {
    border-radius: 0.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 2.2em;
    height: 2em;
    padding: 0px;
    border-width: 0.2em;
    font-size: 1.3em;
}

// Phone bottom

.phone-bottom-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-bottom-circle div {
    width: 1.5em;
    height: 1.5em;
    border: 0.1em solid rgb(101, 101, 101);
    border-radius: 50%;
    background-color: $bg-phone-bottom;
    margin: 0.14em 0;
}

// breakpoints adjustments

@media (min-width: 320px) {
    .phone {
        margin-right: -0.4em;
        font-size: 1.1em;
    }

    .screen {
        padding: 2em 0.5em 0.3em 0.5em;
    }
}

@media (min-width: 375px) {
    .phone {
        padding: 0 0.5em 0;
        font-size: 1.1em;
    }

    .screen {
        padding: 2em 0.5em 0.3em 0.5em;
    }
}

@media (min-width: 425px) {
    .phone {
        padding: 0;
        font-size: 1.28em;
    }
}

// tablet and up
@media screen and(min-width:768px) {
    .phone {
        margin: 0em 7em 0em;
        padding: 0 0.5em 0;
    }
}

@media screen and (min-width: 1024px) {
    .phone {
        margin: 1em 25em 15em 5em;
    }
}

@media screen and (min-width: 1440px) {
    .phone {
        margin: 1em 20em 20em 15em;
    }
}
