html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

div {
  text-align: justify;
  position: relative;
}

.row {
  position: relative;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  width: 100%;
  float: left;
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.screen {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
}

.button_left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  grid-row: 5;
}

.button_right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 5;
  grid-row: 5;
}

.digits {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 6;
  grid-row: 6;
}

.phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col] auto)[3];
      grid-template-columns: repeat(3, [col] auto);
  -ms-grid-rows: ([row] auto)[7];
      grid-template-rows: repeat(7, [row] auto);
  max-height: 812px;
  max-width: 414px;
  background-color: #a4a4a4;
  border: 0.8em solid #000;
  border-radius: 1.5em;
  grid-auto-flow: dense;
  -webkit-border-radius: 1.3em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  z-index: 1;
}

.header {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  background-color: #a4a4a4;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-top: .35em;
  margin-bottom: -1em;
}

.screen {
  display: inline-block;
  min-height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  background-color: #fff;
  padding: 2.2em .5em 13em .5em;
  margin: 2.2em .3em .3em .3em;
}

.screen input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  display: block;
  font-size: 1.3em;
  padding-left: .8em;
  padding-bottom: .3em;
  margin-top: -1.5em;
  background-color: #fff;
  color: #000;
  border: none;
}

.screen .message,
.screen .numberbox {
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 5em;
  font-size: 1.2em;
  padding-left: 1.6em;
  padding-top: .2em;
  margin: 0;
  list-style: none;
}

.bubble {
  position: relative;
  padding: .2em;
  margin: -10.2em 0em 11.5em 0em;
  border: .2em solid #5a8f00;
  color: #333;
  background: #fff;
  /* css3 */
  border-radius: 10px;
  z-index: 10;
  position: 0;
}

/* THE TRIANGLE */
.bubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 40px;
  /* controls horizontal position */
  border-width: 18px 15px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  z-index: 10;
}

/* creates the smaller  triangle */
.bubble:after {
  content: "";
  position: absolute;
  bottom: -10px;
  /* value = - border-top-width - border-bottom-width */
  left: 47px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  z-index: 10;
}

.button_left {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.8em;
  width: 5em;
  background-color: green;
}

.button_right {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.8em;
  width: 5em;
  display: block;
  background-color: red;
}

.digits {
  display: block;
  background-color: #444;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}

.digits .digits--display {
  display: -ms-grid;
  display: grid;
  padding: .6em;
  grid-gap: 0.7rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  color: #444;
  justify-items: center;
}

.digits .digits--display .digit {
  padding: 0.25em 1.2em 0.2em 1.2em;
  background-color: #a4a4a4;
  color: #000;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 1.55em;
  border: none;
}

.digits .digits--display .digit :hover {
  cursor: pointer;
}

@media (min-width: 375px) {
  .phone {
    height: 100%;
  }
  .screen {
    padding: 2em .5em .3em .5em;
  }
}

@media (min-width: 320px) {
  .header {
    margin-right: 2em;
  }
  .screen {
    margin: 2.2em 0em .3em 0em;
    padding: 2.2em .5em 0 .5em;
  }
}
/*# sourceMappingURL=style.css.map */