$primary-font: 'Oswald',
sans-serif;
$secondary-font: 'Open Sans',
sans-serif;
$font-family: 'Oswald',
sans-serif,
'Open Sans',
sans-serif;
$background-color-primary: #fff;
$gray: #444;
$lightgray: #a4a4a4;
$black: #000;
$smudgywhite: #ebebeb;
$red: #ff0000;
$green: #008000;

//resets and base styles
html {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

// behaviour styles
div {
    text-align: justify;
    position: relative;
}


.row {
    position: relative;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    width: 100%;
    float: left;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;
}

.screen {
    grid-column: 1 / 4;
    grid-row: 2 / 6;
}

.button_left {
    grid-column: 1 / 2;
    grid-row: 5;
}

.button_right {
    grid-column: 3 / 4;
    grid-row: 5;
}

.digits {
    grid-column: 1 / 4;
    grid-row: 6;
}

.phone {
    display: grid;
    grid-template-columns: repeat(3, [col] auto);
    grid-template-rows: repeat(7, [row] auto);
    max-height: 812px;
    max-width: 414px;
    background-color: $lightgray;
    border: 0.8em solid $black;
    border-radius: 1.5em;
    grid-auto-flow: dense;
    -webkit-border-radius: 1.3em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    z-index: 1;
}

.header {
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    box-sizing: border-box;
    display: inline-block;
    font-family: $secondary-font;
    background-color: $lightgray;
    color: $black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: .35em;
    margin-bottom: -1em;
}

.screen {
    display: inline-block;
    min-height: 400px;
    box-sizing: border-box;
    color: $black;
    background-color: $background-color-primary;
    padding: 2.2em .5em 13em .5em;
    margin: 2.2em .3em .3em .3em;

    input[type=text] {
        box-sizing: border-box;
        max-width: 100%;
        display: block;
        font-size: 1.3em;
        padding-left: .8em;
        padding-bottom: .3em;
        margin-top: -1.5em;
        background-color: $background-color-primary;
        color: $black;
        border: none;
    }

    .message,
    .numberbox {
        display: inline-block;
        max-width: 100%;
        box-sizing: border-box;
        height: 5em;
        font-size: 1.2em;
        padding-left: 1.6em;
        padding-top: .2em;
        margin: 0;
        list-style: none;
    }
}

.bubble {
    position: relative;
    padding: .2em;
    margin: -10.2em 0em 11.5em 0em;
    border: .2em solid #5a8f00;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 10;
    position: 0;
}

/* THE TRIANGLE */
.bubble:before {
    content: "";
    position: absolute;
    bottom: -20px;
    /* value = - border-top-width - border-bottom-width */
    left: 40px;
    /* controls horizontal position */
    border-width: 18px 15px 0;
    border-style: solid;
    border-color: #5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
    z-index: 10;
}

/* creates the smaller  triangle */
.bubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    /* value = - border-top-width - border-bottom-width */
    left: 47px;
    /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
    z-index: 10;
}

.button_left {
    max-width: 100%;
    box-sizing: border-box;
    height: 1.8em;
    width: 5em;
    background-color: green;
}

.button_right {
    max-width: 100%;
    box-sizing: border-box;
    height: 1.8em;
    width: 5em;
    display: block;
    background-color: red;
}

.digits {
    display: block;
    background-color: $gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;

    .digits--display {
        display: grid;
        padding: .6em;
        grid-gap: 0.7rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: $gray;
        justify-items: center;

        .digit {
            padding: 0.25em 1.2em 0.2em 1.2em;
            background-color: $lightgray;
            color: $black;
            border-radius: 5px;
            font-weight: bolder;
            font-size: 1.55em;
            border: none;

            & :hover {
                cursor: pointer;
            }
        }
    }
}

@media (min-width:375px) {
    .phone {
        height: 100%;
    }

    .screen {
        padding: 2em .5em .3em .5em;
    }
}

@media (min-width:320px) {
    .header {
        margin-right: 2em;
    }

    .screen {
        margin: 2.2em 0em .3em 0em;
        padding: 2.2em .5em 0 .5em;
    }
}