@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400;600&display=swap");
/* mixins */
/* resets and base styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*:focus {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
  zoom: 1;
}

@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}

.row {
  position: relative;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  width: 100%;
  float: left;
}

.top-bar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.notification {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.callMeMaybe {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.screen {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.button_left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

.button_right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  grid-row: 4;
}

.digits {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 5;
  grid-row: 5;
}

.phone-bottom-circle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 6;
  grid-row: 6;
}

.phone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col] auto)[3];
      grid-template-columns: repeat(3, [col] auto);
  -ms-grid-rows: ([row] auto)[6];
      grid-template-rows: repeat(6, [row] auto);
  grid-gap: 0;
  max-height: 812px;
  max-width: 427px;
  background-color: #4d4d4d;
  border: 0.4em solid #383838;
  border-radius: 1.8em;
  grid-auto-flow: dense;
  -webkit-border-radius: 1.3em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  -webkit-box-shadow: -5px 10px 10px 3px rgba(0, 0, 0, 0.4);
          box-shadow: -5px 10px 10px 3px rgba(0, 0, 0, 0.4);
  font-size: 1.2em;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 0.35em;
}

.top-bar .camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  background-color: #444;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 1px 2px #000;
          box-shadow: inset 0 0 1px 2px #000;
}

.top-bar .camera .outer-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10px;
  height: 10px;
  background-color: #222;
  border-radius: 50%;
}

.top-bar .camera .outer-circle .smaller-circle {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}

.top-bar .speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5em;
  height: 0.3em;
  background: #e0e0e0;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.14) inset, 0 0.1em 0.5em 0px rgba(0, 0, 0, 0.12) inset, 0 0.3em 0.1em -0.2em rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.14) inset, 0 0.1em 0.5em 0px rgba(0, 0, 0, 0.12) inset, 0 0.3em 0.1em -0.2em rgba(0, 0, 0, 0.2) inset;
  top: 14px;
}

.top-bar .help_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

/** Notification bar */
.notification {
  display: inline-block;
  font-size: 0.8em;
  padding-top: 0.5em;
  color: #fff;
  text-align: right;
  padding-right: 1.5em;
}

.notification ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.notification ul li {
  margin: 0 0;
  display: inline;
}

#time {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
}

.callMeMaybe {
  display: inline-block;
  padding-top: 0.5em;
  font-size: 0.9em;
  color: #fff;
  text-align: left;
  padding-left: 2em;
}

.screen {
  display: inline-block;
  min-height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #212121;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #e3ffff), to(white));
  background-image: linear-gradient(0deg, #e3ffff 20%, white 100%);
  padding: 2em 0.5em 0.3em 0.5em;
  margin: 0.5em 0 0 0;
}

.screen input[type="text"] {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  display: block;
  font-size: 1.2em;
  padding-left: 0.8em;
  padding-bottom: 0.3em;
  background-color: transparent;
  color: #212121;
  border: none;
}

.screen .message,
.screen .numberbox {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1em;
  padding-left: 1.6em;
  padding-top: 0.2em;
  margin: 0;
  list-style: none;
}

.bubble {
  position: relative;
  padding: 0.2em;
  border: 0.2em solid #91cf6f;
  color: #333;
  background: #fff;
  /* css3 */
  border-radius: 10px;
  margin-top: -2em;
  margin-bottom: 2.4em;
  z-index: 10;
}

/* THE TRIANGLE */
.bubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 40px;
  /* controls horizontal position */
  border-width: 18px 15px 0;
  border-style: solid;
  border-color: #91cf6f transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

/* creates the smaller  triangle */
.bubble:after {
  content: "";
  position: absolute;
  bottom: -10px;
  /* value = - border-top-width - border-bottom-width */
  left: 47px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

.button_left {
  display: inline-block;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
          box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #b8e356), to(#a5cc52));
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #91cf6f;
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: inline-block;
  cursor: pointer;
  margin: 0 0 0.3em 1.7em;
  width: 4em;
  height: 2em;
}

.button_left:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #a5cc52), to(#b8e356));
  background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
  background-color: #a5cc52;
}

.button_left:active {
  position: relative;
}

.button_right {
  display: inline-block;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
          box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fc8d83), to(#e4685d));
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #ff5959;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  width: 4em;
  height: 2em;
  margin: 0 1.7em 0.3em 0;
}

.button_right:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #e4685d), to(#fc8d83));
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}

.button_right:active {
  position: relative;
}

.digits {
  display: block;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #004353), color-stop(20%, #245b6b), color-stop(30%, #3f7385), color-stop(40%, #598d9f), color-stop(50%, #74a7ba), color-stop(60%, #8fc2d5), color-stop(70%, #aadef2), color-stop(85%, #c6fbff));
  background-image: linear-gradient(0deg, #004353 10%, #245b6b 20%, #3f7385 30%, #598d9f 40%, #74a7ba 50%, #8fc2d5 60%, #aadef2 70%, #c6fbff 85%);
  margin: 0;
}

.digits--display {
  display: -ms-grid;
  display: grid;
  list-style: none;
  margin: 0.5em 0.8em 0.5em;
  padding: 0;
  grid-gap: 0;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.digits--display .digit {
  font-weight: normal;
}

.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfb), to(#e1e1e1));
  background: linear-gradient(to right, #fbfbfb, #e1e1e1);
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  font-family: "Source Sans Pro", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0.2em 0;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
  background: linear-gradient(top, #ffffff, #dcdcdc);
}

.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  border: 2px solid #009bff;
  color: #bbbbbb;
}

input.button,
button.button {
  height: 1.8em;
  cursor: pointer;
}

.button-block {
  display: block;
}

.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #eee;
  border: 1px solid #02dce8;
  text-shadow: 0 1px 1px white;
  color: #ccc;
  cursor: default;
}

.button-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f2f2f2));
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

.button-circle {
  border-radius: 0.5em;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 2.2em;
  height: 2em;
  padding: 0px;
  border-width: 0.2em;
  font-size: 1.3em;
}

.phone-bottom-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phone-bottom-circle div {
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid #656565;
  border-radius: 50%;
  background-color: #ececec;
  margin: 0.18em 0;
}

@media (min-width: 320px) {
  .phone {
    height: 100%;
    margin-right: -0.4em;
    font-size: 1.1em;
  }
  .screen {
    padding: 2em 0.5em 0.3em 0.5em;
  }
}

@media (min-width: 375px) {
  .phone {
    height: 100%;
    margin: 0 1em 0;
  }
  .phone .screen {
    padding: 2em 0.5em 0.3em 0.5em;
  }
}

@media (min-width: 425px) {
  .phone {
    margin: 0 2em 0;
  }
  .screen {
    padding: 2.2em 0.5em 0 0.5em;
  }
}

@media screen and (min-width: 768px) {
  .phone {
    margin: 4em 12em 10em;
  }
}

@media screen and (min-width: 1024px) {
  .phone {
    margin: 3em 29em 18em 10em;
  }
}

@media screen and (min-width: 1200px) {
  .phone {
    margin: 3em 38em 18em 10em;
  }
}

@media screen and (min-width: 1440px) {
  .phone {
    margin: 3em 48em 20em 15em;
  }
}

@media screen and (min-width: 1920px) {
  .phone {
    margin: 3em 60em 20em 30em;
  }
}
/*# sourceMappingURL=style.css.map */